Что нужно разобрать и настроить для начала:
1)Webpack (imports/exports)
 - Babel (переводчик js с нового в любые более старые версии языка)
 - Scss (предпроцессор для css)
 - Eslint (чистота написанного кода)

 Разработка бужет вестись в 2х режимах: Dev и Prod:
 Dev: Server, SourceMaps, Eslint, Not minified, JS & css
 Prod: Minified code

2)git

git init
git add .
git commit -m "текст коммита"
git push - u origin название ветки
git checkout -b "название ветки"

Продолжить с 5го урока